[submodule "src/tello_ros"]
	path = src/tello_ros
	url = https://github.com/NguyenTuanMi/tello_ros.git
[submodule "src/ROS2_ORB-SLAM3_Odometry"]
	path = src/ROS2_ORB-SLAM3_Odometry
	url = https://github.com/NguyenTuanMi/ROS2_ORB-SLAM3_Odometry.git
[submodule "src/ros2_shared"]
	path = src/ros2_shared
	url = git@github.com:NguyenTuanMi/ros2_shared.git
